body {
    margin: 0px;
}

table {
    width: 300px;
    height: auto;
    border: 1px solid black;
}
 
input[type="button"] {
    width: 100%;
    padding: 10px 10px;
    background-color: lightgray;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
 
input[type="text"] {
    padding: 10px 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    text-align: left;
}
 
#display {
    width: 410px;
    text-align: center;
    margin: auto;
}